<div class="home">
  <div class="home-body">
    <h1>This is Dashboard Home</h1>
    <h3>
      Bring to the table win-win survival strategies to ensure proactive
      domination. At the end of the day, going forward, a new normal that has
      evolved from generation X is on the runway heading towards a streamlined
      cloud solution.
    </h3>
    <h5>
      We help to capitalize on low hanging fruit to identify a ballpark value
      added activity to beta test. Nanotechnology immersion along the
      information highway will close the loop on focusing on the line.
    </h5>
  </div>
</div>
