<div class="about">
  <h1>Software Made Simple</h1>
  <h5>
    At IMRIEL, we believe that creating great software should be an enjoyable
    and fulfilling experience for everyone involved; clients, designers,
    developers, project managers and QA specialists. Our designers and software
    engineers love what they do and nothing makes them happier than bringing
    fresh, innovative ideas to the table. We avoid protracted, expensive and
    painful projects by using Agile and Continuous Delivery processes. This
    enables us to quickly deliver functionality that closely matches your
    business needs and get you up, running and in production in days rather than
    months. Our fast process allows you to innovate and experiment, find what
    works and what doesn’t and end up with what works for you. We love using the
    cloud, but if you prefer to keep your servers where you can see them then we
    can help you to provision, manage and maintain your systems from the
    hardware upwards. We will keep your costs down and reduce your
    implementation time. We provide a range of business services using some of
    the world’s leading software technology. Our strength lies in working
    closely with business people to find creative ways to solve their problems.
    Our customers stick with us, ensuring their systems continue to deliver
    precisely what they require over the long term. Learn more about how we work
    with you.
  </h5>
</div>
