<h1 class="heading">Forget-Password</h1>
<form class="myForm">
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Enter email" />
  </div>
  <br />
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Enter Password"
    /><br />
  </div>
  <button type="submit" class="btn btn-primary form-control">LogIn</button
  ><br /><br />
  <a routerLink="/login">Back-To-LogIn</a>
</form>
