<div class="main">
  <div class="d1">
    <h4>
      <h1>IMRIEL Limited</h1>
      86-90 Paul Street London EC2A 4NE United Kingdom Phone: +44 (0) 20 8123
      0630 Fax: +44 (0) 870 460 2130
    </h4>
  </div>
  <br /><br />
  <div class="d2">
    <h4>
      <h1>IMRIEL Technology Solutions Pvt. Ltd.</h1>
      9th Floor, 904-908 Samanvay Silver Beside Royal Orchid Hotel, Munjmahuda
      Circle, Akota, Vadodara – 390 020 Gujarat, India Phone: +91 74900 38743
      Phone: +91 265 2351099
    </h4>
  </div>
  <br /><br />
  <div class="d3">
    <h4>
      <h1>CTO Consulting</h1>
      Level 32, 101 Miller Street North Sydney NSW 2060 Australia Phone: +61 2
      9025 3677
    </h4>
  </div>
</div>
